@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.header {
  width: 100%;
}

.header__menu {
  height: 64px;
  display: flex;
  align-items: center;
}

.header__button {
  background-image: url("../img/burger-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 18px;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 27px;
}

.header__icon {
  height: 10.5px;
  width: 10.5px;
  margin-left: auto;
}

.header__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: var(--color-blue);
  margin-right: 44px;
  margin-left: 11.75px;
}

.header__bread-rumbs {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-left: 67px;
  color: rgba(0, 0, 0, 0.54);
}

.list-header {
  display: flex;
  align-items: baseline;
  margin-left: 70px;
}

.list-header__icon {
  height: 29.33px;
  width: 26.67px;
  margin-right: 18.67px;
}

.list-header__h1 {
  margin: 0;
  margin-top: 16px;
  font-weight: bold;
  font-size: 38px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.87);
}

.group-header {
  margin-top: 42px;
}

.group-header__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: 67px;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.group-header__item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-black__secondary);
  margin: 0;
  margin-right: 24px;
  padding-bottom: 8px;
}

.activ {
  color: var(--color-black__main);
  border-bottom: 2px solid var(--color-blue);
}

.header-sorting {
  display: flex;
  margin-top: 56px;
  margin-left: 67px;
  margin-bottom: 36px;
}

.header-sorting__label {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-sorting__name {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: var(--color-black__secondary);
  margin: 0;
  margin-bottom: 4px;
}

.header-sorting__search {
  margin-top: auto;
  background-image: url("/img/loupe-search.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 7px;
}

.header-sorting__status {
  text-align: left;
}

.input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-gray);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  height: 23px;
  width: 166px;
}

.header-setting__text, .header-setting .setting-filter__text, .header-setting .setting-close__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.header-setting {
  display: flex;
  align-items: center;
}

.header-setting__text {
  padding: 0;
  color: var(--color-black__secondary);
  margin-left: 67px;
  margin-right: 95px;
}

.header-setting .setting-filter {
  display: flex;
  margin-right: 40.5px;
}

.header-setting .setting-filter__img {
  width: 14px;
  height: 14px;
  margin-right: 10.25px;
}

.header-setting .setting-filter__text {
  padding: 0;
  color: var(--color-blue);
  font-weight: 600;
}

.header-setting .setting-close {
  display: flex;
  align-items: center;
}

.header-setting .setting-close__img {
  width: 10px;
  height: 10px;
  margin-right: 12.5px;
}

.header-setting .setting-close__text {
  color: var(--color-black__secondary);
}

.column-date, .column-name, .column-player, .column-coach, .column-progress__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: var(--color-black__secondary);
}

.table__row {
  display: flex;
  padding: 14px 0;
}

.column-date {
  width: 86px;
  margin-right: 24px;
}

.column-name {
  width: 546px;
  margin-left: 30px;
}

.column-player {
  width: 104px;
}

.column-coach {
  width: 40px;
  margin-right: 92px;
}

.column-progress {
  display: flex;
  align-items: baseline;
}

.column-progress__text {
  margin-right: 6.5px;
}

.column-progress__img {
  height: 5px;
  width: 8px;
}

:root {
  --color-blue: #1071FF;
  --color-black__main: rgba(0, 0, 0, 0.87);
  --color-black__secondary: rgba(0, 0, 0, 0.54);
  --color-gray: rgba(0, 0, 0, 0.08);
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-container {
  width: 100%;
  max-width: 1280px;
}
/*# sourceMappingURL=main.css.map */