@import 'header';
@import 'list-header';
@import 'group-header';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
  --color-blue: #1071FF;
  --color-black__main: rgba(0, 0, 0, 0.87);
  --color-black__secondary: rgba(0, 0, 0, 0.54);
}


html {
  font-family: 'Montserrat',
    sans-serif;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-container {
  width: 100%;
  max-width: 1280px;
}